
/* Titres : font-family: 'Roboto', sans-serif; 
   Textes : font-family: 'Open Sans', sans-serif;
   site : fonts.google.com

   pour le logo : logomakr.com

   j'ai aussi utilié Befunky.com pour ajouter des petits effets aux images

   /*lien vers les produits : https://www.costway.ca/adjustable-exercise-bicycle-cycling-cardio-fitness-with-18-lbs-flywheel.html?fee=45&fep=11619&utm_source=google&utm_medium=cpc&gclid=Cj0KCQjwi7yCBhDJARIsAMWFScO_rSi4LBm2-b1xFiz346HSX1W7nkPIrE87PSR52c9pR3auepKx04caAv_sEALw_wcB
                              https://www.amazon.ca/-/fr/P%C3%A9dalier-dexercice-bureau-silencieux-jambes/dp/B08G1G74GM/ref=zg_bs_2438979011_31/141-6429050-7385803?_encoding=UTF8&refRID=G83TQ52MTENQ0SG2JDHT&th=1*/

    /* site pour les images utilisées (sauf les produits) www.pixabay.com 


    
    
    
/*Pour toutes les pages*/

.norme {

    margin: 0px auto;
    background-color: #222222;

}


.barre-nav {
    
    padding: 0px 100px;
    align-items: center;
    display: flex;
    background: #222222;
    border-bottom : 5px solid #45b914;
;
}

.nav-page:link,
.nav-page:visited {

    border-left: 3px solid #45b914;
    padding: 20px 25px;
    display: inline-block;
    width: 125px;
    
    
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 550;
    transition: all .5s;

}

.nav-page:hover {

    background-color: #FFFFFF;
    color: black;

}
.texte-nav {

    font-family: 'Staatliches', sans-serif;
    font-size: 15px;
    
}

.section-tete {
    width: 100%;
    height: auto;
}


/* Categories 1 et 2*/

.buttons {
    
    margin-top: 5%;
    text-align: center;

}

.button1 {
    
    border-radius: 50px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    margin-right: 100px;
    max-width: auto;
    background-color: rgba(0, 0, 0, 0.295);
    
}

.button2 {
    
    border-radius: 50px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    margin-left: 100px; ;
    background-color: rgba(0, 0, 0, 0.295);

}

.button1:hover {
    
    background-color: #45b91446;

}

.button2:hover {

    background-color: #45b91446;

}


/* Produits 1 à 4 */

.section-produit {
    margin : 150px;
    display: flex;
}

.imgs-produit {

          
    
}

.titre-produit {
    
    text-align: end;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    padding-bottom : 50px;
    border-bottom : 1px solid #45b914 ;
    margin-right: 100px;
    margin-left: 1100px;
    margin-bottom: -100px;
    margin-top: 100px;
    
    
}

.texte-produit {

    margin-right: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color : #FFFFFF;
    padding : 30px;
    border-left: 5px solid #45b914;
    margin-bottom: 500px

}

.bouton-produit {

    width: 200px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.295); 
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 15px;

}

.bouton-produit:hover {

    background-color: #45b9149d;
    color: black;

}