
.norme {

    margin: 0 auto;
    background-color: #FFFFFF;
    background-image:url(/Images/bike-riding-1149234.jpg);
    
}


.barre-nav {
    
    padding: 0px 100px;
    align-items: center;
    display: flex;
    background: #222222;
;
}

.nav-page:link,
.nav-page:visited {

    border-left: 3px solid #45b914;
    padding: 20px 25px;
    display: inline-block;
    width: 125px;
    
    
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 550;
    transition: all .5s;

}

.nav-page:hover {

    background-color: #FFFFFF;
    color: black;

}
.texte-nav {

    font-family: 'Staatliches', sans-serif;
    font-size: 15px;
    
}

.buttons {
    
    margin-top: 5%;
    text-align: center;

}

.button1 {
    
    border-radius: 50px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    margin-right: 200px;
    
}

.button2 {
    
    border-radius: 50px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    margin-left: 200px; ;

}

.button1:hover {
    
    background-color: #45b91446;

}

.button2:hover {

    background-color: #45b91446;

}






.bas-nav {

    display: flex;
    p osition: relative ;
    width: 100%;
    bottom: 0px;
    height: 115px;
    background: #222222;
}

.titre-bas {
    
    margin-right: 20px;
    font-family: 'Staatliches', sans-serif;
    color: #8b8b8b;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 1%;

}

.logo-bas {

    margin-top: 20px;
    margin-left: 455%;

}
